
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500&family=Lato&display=swap');

header {
    text-align: center;
    background-color: #f78670;
    padding: 10px;
  }
  
  main {
    background-color: #212121;
    height: 900px;
    text-align: center;
  }
  
  h1 {
    height: 38px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 32px;
    font-weight: 500;
    letter-spacing: 0.6px;
    text-align: center;
    color: #fff;
    padding: 40px;
    margin: 0;
  }
  
  li {
    text-align: center;
    margin: 0 25% 0 25%;
  }
  
  .logo {
    width: 110px;
    height: auto;
    margin-top: 40px;
    object-fit: contain;
  }
  
  .container {
    width: 400px;
    margin: auto;
    text-align: center;
  }
  
  input {
    width: 219px;
    height: 37px;
    border-radius: 3.2px;
    border: solid 0.8px #f78670;
    background-color: #eeeeee;
    display: block;
    margin: auto;
    margin-top: 10px;
    font-family: 'Lato', sans-serif;
    font-size: 22px;
    letter-spacing: 0.2px;
    text-align: center;
    color: #767676;
  }
  
  #submit {
    width: 125px;
    height: 30px;
    border-radius: 2px;
    border-color: inherit;
    background-color: #f78670;
    margin-top: 30px;
    font-family: Work Sans, sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.3px;
    text-align: center;
    color: #fff;
    margin-right: -3px;
  }
  
  #responseField {
    min-width: 191px;
    min-height: 120px;
    background-color: #eeeeee;
    margin: auto;
    margin-top: 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: 0.2px;
    text-align: center;
    color: #212121;
    overflow-wrap: break-word;
    padding: 20px;
  }
  
  #submit:hover {
    background-color: #00adb5;
    cursor: pointer;
  }
  
  #submit:active {
    background-color: #ffffff;
    border-color: #ffffff;
    color: #ef6b68;
    cursor: pointer;
  }
  